# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Server/Attester/TPA
Server/Verifier/client
Agents/Remote_Attestor/AKs/ak.pub.pem
Protocols/Explicit/goldenvalues.db
Protocols/Explicit/TEEEEEST.db
Agents/Remote_Attestor/RA.c
Agents/Remote_Attestor/AKs/ak.pub.pem.OLD
exclude_list
Protocols/Explicit/whitelist.db
Server/Verifier/test.txt
exclude_list
Protocols/Explicit/whitelist.db
script/create_certificates.sh
Server/certs/ca.crt
Server/certs/client.crt
Server/certs/client.csr
Server/certs/client.key
Server/certs/server.crt
Server/certs/ca.key
Server/certs/server.key
Server/certs/server.csr
Protocols/Explicit/whitelist.db
exclude_list
Agents/Remote_Attestor/tpa.db
Protocols/Explicit/goldenvalues.imx.db
Server/certs/server.imx.crt
Agents/Remote_Attestor/AKs/ak.pub.imx.pem
Server/certs/*
to_receive/to_send/server.crt
to_receive/to_send/goldenvalues.imx.db
to_receive/to_send/ak.pub.pem
